<main role="main" class="container">
  <h1>HP Post Offices</h1>

  <p>Post offices loaded from <a href="https://www.posta.hr/interaktivna-karta-postanskih-ureda/6454">HP</a>.</p>

  <p>Post offices in OSM should ways or nodes with a ref tag containing the numerical post code to be matched to the corresponding HP post office.</p>

  <%= if length(@mappings) > 0 do %>
    <table>
      <thead>
        <tr>
          <th colspan="2">Hrvatska Pošta</th>
          <th rowspan="2" class="border-left-thin">Matched OSM node or way</th>
          <th rowspan="2" class="border-left-thin">Distance</th>
        </tr>
        <tr>
          <th>Name</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <%= for mapping <- @mappings do %>
          <tr>
            <td><%= mapping.post_office.post_code %> <%= mapping.post_office.place %></td>
            <td><%= mapping.post_office.street %></td>

            <%= if mapping.node do %>
              <td class="border-left-thin"><%= osm_link(mapping.node, tags: [], name: true) %></td>
            <% end %>

            <%= if mapping.way do %>
              <td class="border-left-thin"><%= osm_link(mapping.way, tags: [], name: true) %></td>
            <% end %>

            <%= if !mapping.node and !mapping.way do %>
              <td class="border-left-thin text-gray-500">Not found</td>
            <% end %>

            <%= if mapping.distance && mapping.distance <= 50 do %>
              <td><%= mapping.distance %></td>
            <% end %>

            <%= if mapping.distance && mapping.distance > 50 do %>
              <td class="error"><%= mapping.distance %></td>
            <% end %>

            <%= if !mapping.distance do %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No post offices found. Run the import script.</p>
  <% end %>
</main>
