<link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/leaflet/leaflet.css") %>">

<main role="main" class="container">
  <h1>HPS Track <%= @track.route_no %>: <%= @track.name %></h1>

  <table>
    <tr>
      <th>Route</th>
      <td><%= @track.route_no %></td>
    </tr>
    <tr>
      <th>Ref</th>
      <td><%= @track.ref %></td>
    </tr>
    <tr>
      <th>Region</th>
      <td><%= @track.region %></td>
    </tr>
    <tr>
      <th>Length</th>
      <td><%= @track.length %> km</td>
    </tr>
    <tr>
      <th>Height difference</th>
      <td><%= @track.height_diff %> m</td>
    </tr>
    <tr>
      <th>Walk time</th>
      <td><%= @track.walk_time %> min</td>
    </tr>
  </table>

  <div id="map" class="w-full h-[400px] border border-gray-300"></div>

  <div id="elevation" class="mt-4 relative w-full pb-[25%] border border-gray-300">
    <canvas id="elevation-chart" class="absolute w-full h-full top-0 left-0">
      <p>Your browser doesn’t support HTML5 Canvas. If it did you'd see an elevation chart.</p>
    </canvas>

    <canvas id="elevation-overlay" class="absolute w-full h-full top-0 left-0">
      <p>Your browser doesn’t support HTML5 Canvas. If it did you'd see an elevation chart.</p>
    </canvas>
  </div>
</main>

<script id="elevations" type="application/json"><%= raw(@elevations) %></script>
<script id="times" type="application/json"><%= raw(@times) %></script>
<script id="distances" type="application/json"><%= raw(@distances) %></script>
<script id="linestring" type="text/plain"><%= raw(@linestring) %></script>
<script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/track.js") %>"></script>
