<main role="main" class="container">
  <h1>HPS tracks</h1>

  <p>Tracks loaded from <a href="https://www.hps.hr/">HPS</a>.</p>

  <%= if length(@regions) > 0 do %>
    <form>
      <select name="region">
        <option value="">-- All --</option>
        <%= for {region, count} <- @regions do %>
          <option value="<%= region %>" <%= if @region === region do %>selected="selected"<% end %>>
            <%= region %> (<%= count %>)
          </option>
        <% end %>
      </select>
      <button class="button" type="submit">Go</button>
      <a href="?" class="button">Clear</a>
    </form>
  <% end %>

  <%= if length(@tracks) > 0 do %>
    <table>
      <thead>
        <tr>
          <th>Ref</th>
          <th>Route</th>
          <th>Name</th>
          <th>Region</th>
          <th>Length</th>
          <th>Height diff</th>
          <th>Walk time</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= for track <- @tracks do %>
          <tr>
            <td><%= track.ref %></td>
            <td><%= track.route_no %></td>
            <td>
              <a href="<%= Routes.hps_tracks_path(TriglavWeb.Endpoint, :detail, track.id) %>">
                <%= track.name %>
              </a>
            </td>
            <td><%= track.region %></td>
            <td class="text-right whitespace-nowrap"><%= track.length %> km</td>
            <td class="text-right whitespace-nowrap"><%= track.height_diff %> m</td>
            <td class="text-right whitespace-nowrap"><%= track.walk_time %> min</td>
            <td><a href="<%= track.url %>">www</a></td>
            <td><a href="<%= track.gpx1_url %>">GPX1</a></td>
            <td><a href="<%= track.gpx2_url %>">GPX2</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No tracks found. Run the import script.</p>
  <% end %>
</main>
