<main role="main" class="container">
  <h1>Data overview</h1>

  <h2>OSM updates</h2>

  <p>Data is updated daily from Geofabrik.</p>

  <table class="w-full">
    <thead>
      <tr>
        <th rowspan="2">Updated at</th>
        <th colspan="3" class="border-left-thin">Nodes</th>
        <th colspan="3" class="border-left-thin">Ways</th>
        <th colspan="3" class="border-left-thin">Relations</th>
        <th rowspan="2" class="border-left-thin">Earliest timestamp</th>
        <th rowspan="2">Latest timestamp</th>
      </tr>
      <tr>
        <th class="border-left-thin">Add</th>
        <th>Del</th>
        <th>Mod</th>
        <th class="border-left-thin">Add</th>
        <th>Del</th>
        <th>Mod</th>
        <th class="border-left-thin">Add</th>
        <th>Del</th>
        <th>Mod</th>
      </tr>
    </thead>
    <tbody>
      <%= for changes <- @replication_changes do %>
      <tr>
        <td><%= changes.tstamp %></td>
        <td class="border-left-thin"><%= changes.nodes_added %></td>
        <td><%= changes.nodes_deleted %></td>
        <td><%= changes.nodes_modified %></td>
        <td class="border-left-thin"><%= changes.ways_added %></td>
        <td><%= changes.ways_deleted %></td>
        <td><%= changes.ways_modified %></td>
        <td class="border-left-thin"><%= changes.relations_added %></td>
        <td><%= changes.relations_deleted %></td>
        <td><%= changes.relations_modified %></td>
        <td class="border-left-thin"><%= changes.earliest_timestamp %></td>
        <td><%= changes.latest_timestamp %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</main>
