<main role="main" class="container">
  <h1>Points of Interest</h1>

  <%= if length(@sources) > 0 do %>
    <table>
      <tbody>
        <tr>
          <th>Source</th>
          <th class="text-right">POIs</th>
          <th class="text-right">Mapped</th>
          <th class="text-right">Mapped %</th>
          <th class="text-right">Last Updated</th>
        </tr>
        <%= for source <- @sources do %>
          <tr>
            <td><a href={Routes.poi_path(@conn, :nodes, source.slug)}><%= source.name %></a></td>
            <td class="text-right"><%= source.node_count %></td>
            <td class="text-right"><%= source.mapping_count %></td>
            <td class="text-right">
              <%= if source.node_count > 0 do %>
                <%= round(100 * source.mapping_count / source.node_count) %>%
              <% else %>
                0%
              <% end %>
            </td>
            <td><%= source.updated_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No data loaded. Run an import script.</p>
  <% end %>
</main>
