@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  p { @apply mb-4; }
  a { @apply underline text-purple }
  a.block { @apply no-underline text-black hover:bg-gray-100 }
  h1 { @apply text-2xl font-bold mb-4 }
  h2 { @apply text-xl font-bold mb-4 }
  h3 { @apply text-lg font-bold mb-4 }
  hr { @apply my-4 }

  table { @apply border-collapse mb-4 }
  tbody > tr:hover { @apply bg-gray-100 }
  th, td { @apply px-2 py-1 align-top border-b border-gray-300 }
  th { @apply text-left bg-gray-100 }
  td.success { @apply bg-green-700/20 border-b border-green-700/60 }
  td.error { @apply bg-red-700/20 border-b border-red-700/60 }

  form { @apply mb-4 }
  select { @apply rounded h-10 }

  section + section { @apply mt-4 }

  ul { @apply list-disc ml-4 }
  summary { cursor: pointer; text-decoration: underline }
  details[open] > summary { margin-bottom: 4px }
}

@layer components {
  .container {
    max-width: 1280px;
    margin:  auto;
    padding: 1rem;
  }

  .container-wide {
    max-width: 100%;
    padding: 1rem;
  }

  .button {
    @apply inline-flex items-center rounded h-10 px-4 cursor-pointer;
    @apply bg-gray-100 border border-gray-500 text-black no-underline;
  }
  .button:hover { background-color: Gainsboro }
  .button[disabled] { cursor: not-allowed }
  .button.small { @apply h-6 px-2 }

  .box {
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    display: inline-block;
    padding: 0px 5px;
    text-decoration: none;
  }
  .box:hover { background-color: WhiteSmoke }

  .josm-remote {
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    display: inline-block;
    padding: 0px 5px;
    text-decoration: none;
    white-space: nowrap;
  }
  .josm-remote::before {
    content: "🜨";
    display: inline-block;
    width: 8px;
    margin-right: 5px;
  }
  .josm-remote.error::before { content: "✖" }
  .josm-remote.success::before { content: "✔" }
  .josm-remote:hover { @apply bg-gray-200 }
  .josm-remote.success { @apply bg-green-700/20 }
  .josm-remote.error { @apply bg-red-700/20 }

  .callout {
    border: 1px solid gray;
    padding: 1rem;
    margin-bottom: 1rem;
    max-width: 800px;
    background-color: WhiteSmoke;
  }
  .callout > p:last-child { margin-bottom: 0 }
  .callout.error { @apply bg-red-700/20 }
  .callout.warning { @apply bg-orange-500/20 }
  .callout.success { @apply bg-green-700/20 }

  .tag { @apply text-gray-600 whitespace-nowrap }

  .osm-link { white-space: nowrap }
  .osm-link > img {
    display: inline-block;
    height: .8rem;
  }

  .icon {
    width: 1em;
    height: 1em;
    display: inline-block;
  }

  ul.breadcrumbs { @apply flex m-0 list-none mb-2 }
  ul.breadcrumbs > li:not(:first-child):before {
    @apply px-3 text-gray-500;
    content: ">";
  }

  .border-left-thin { border-left: 1px dotted gray }
  .border-left-thick { border-left: 10px solid LightGray }
}
