<.navbar conn={@conn} feed={@feed} />

<main role="main" class="container">
  <h1>Data history</h1>

  <table>
    <thead>
      <tr>
        <th>Ref</th>
        <th>Imported</th>
        <th class="text-right">Platforms</th>
        <th class="text-right">Routes</th>
        <th class="text-right">Route variants</th>
      </tr>
    </thead>
    <tbody>
      <%= for feed <- @counts do %>
        <tr>
          <td><%= feed.ref %></td>
          <td><%= feed.imported_at %></td>
          <td class="text-right"><%= feed.platform_count %></td>
          <td class="text-right"><%= feed.route_count %></td>
          <td class="text-right"><%= feed.route_variant_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
